<!DOCTYPE html>
<html>
<head>
    <title>Hubtag Viz</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="hubtag-viz.css">
</head>

<body ng-app="hubtagApp" ng-controller="HubtagController as ctrl">

<h1>Hubtag Viz</h1>
<p>Click on a tile, generate your work schedule and DO IT.</p>

<ul class="legend">
    <li>Less</li>
    <li style="background-color: #eee"></li>
    <li style="background-color: #d6e685"></li>
    <li style="background-color: #8cc665"></li>
    <li style="background-color: #44a340"></li>
    <li style="background-color: #1e6823"></li>
    <li>More</li>
</ul>

<table>
    <thead>
    <tr>
        <td></td>
        <td ng-repeat="week in ctrl.weeks">
            <span>   </span>
            <span ng-if="week % 4 == 0 || $index == 0 || $index == ctrl.weeks.length-1">W{{week}}</span>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(day, dayIndex) in ctrl.days">
        <td>{{day}}</td>
        <td ng-repeat="week in ctrl.weeks">
            <div class="tile tile--{{ctrl.getContributions(week, dayIndex)}}" ng-click="ctrl.clickOnTile(week, dayIndex, day)"></div>
        </td>
    </tr>
    </tbody>
</table>

<hr>
<p>Here is your current schedule:
<p>
<div ng-repeat="(key, action) in ctrl.tiles | sortedSchedule" ng-if="action.contributions > 0">Week {{action.week}}:
    {{action.day}} --> {{action.contributions}}
</div>

<script src="hubtag-viz.js"></script>
</body>
</html>
